<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="./css/forgotpassword.css" rel="stylesheet" />
    <link href="./css/normalize.css" rel="stylesheet">
    <title>Forgot Password</title>
</head>

<body>
<div class="box-container">

    <div class="background-image"></div>
    <div class="forgot-box"> <!-- renamed the class to forgot-box for clarity -->
        <div class="login-header">
            <svg width="110" height="112" viewBox="0 0 110 112" fill="none" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="images/icons/icons.svg#lock-icon"></use>
            </svg>
            <h1 class="brand-name">Having login issues?</h1>
        </div>
        <p>Enter your email and we'll <br> send you a link to get back into your account.</p>
        <!-- Email Input -->
        <div class="input-box">
            <input type="email" class="input-field" placeholder="Email">
        </div>
        <!-- Reset Password Button -->
        <div class="login-button">
            <button type="submit" class="button-label">Reset Password</button>

        </div>
        <div id="confirmation-message" class="confirmation">
            If we found your account, you should be receiving an email to get back into ThunderTaste soon.
        </div>
        <a href="login.html" class="back-to-login">Back to Login</a>
    </div>

</div>

<script>
    document.querySelector('.button-label').addEventListener('click', function() {
        const emailField = document.querySelector('.input-field[type="email"]');
        const confirmationMessage = document.getElementById('confirmation-message');

        if(emailField.value) {  // Checks if email field is filled in
            confirmationMessage.style.display = 'block';  // Display the message
        }
    });
</script>


</body>

</html>
