<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link href="../static/css/recipe-search.css" rel="stylesheet" th:href="@{/css/recipe-search.css}">
    <link href="../static/css/normalize.css" rel="stylesheet" th:href="@{/css/normalize.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="../static/js/recipe-search.js" th:src="@{/js/recipe-search.js}" defer></script>
    <title>ThunderTaste Recipes</title>
</head>

<body>
<header>
    <div class="site-branding">
        <div class="branding-container">
            <a  href="index.html" th:href="@{/index}" class="site-title">
                <div class="site-title">
                <h1>ThunderTaste</h1>
                <svg class="bolt-icon" height="50" viewBox="0 0 36 50" width="36" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="images/icons/icons.svg#bolt-icon"></use>
                </svg>
            </div></a >
            <h2>Browse Recipes</h2>
        </div>


    </div>

    <div class="header-actions">
        <a href="recipe-search.html" th:href="@{/recipe-search}">
            <svg class="search-icon" viewBox="0 0 45 39" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="images/icons/icons.svg#search-icon"></use>
            </svg>
        </a>
        <div class="separator"></div>
        <div th:if="${#authentication.principal == 'anonymousUser'}"> <!-- User is NOT authenticated -->
            <a href="login.html" th:href="@{/login.html}">
                <svg class="user-icon" viewBox="0 0 37 31" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="../static/images/icons/icons.svg#user-icon"
                         th:xlink:href="@{/images/icons/icons.svg#user-icon}"></use>
                </svg>
                Log In
            </a>
        </div>
        <div th:if="${#authentication.principal != 'anonymousUser'}"> <!-- User IS authenticated -->
            <a href="my-account.html" th:href="@{/my-account}">
                <svg class="user-icon" viewBox="0 0 37 31" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="../static/images/icons/icons.svg#user-icon"
                         th:xlink:href="@{/images/icons/icons.svg#user-icon}"></use>
                </svg>
                My Account
            </a>
        </div>
    </div>

    <nav>
        <ul>
            <li><a href="recipe-search.html" th:href="@{/recipe-search}">Browse Recipes</a></li>
            <li><a href="my-recipes.html" th:href="@{/my-recipes}">My Recipes</a></li>
            <li><a href="submit-recipe.html" th:href="@{/submit-recipe}">Submit a Recipe</a></li>
        </ul>
    </nav>


</header>
<main class="container my-4">
<div class="search-box mt-3 d-flex">
    <form action="/search" method="get">
    <input type="text" name="query"  class="form-control" placeholder="Search">
    <button class="btn btn-primary ml-2">GO</button>
    </form>
</div>

<section class="recent-recipes">

    <div th:each="recipe : ${recipes}">
         <article class="recipe-card" th:attr="data-recipe-id=${recipe.id}">

            <div class="recipe-image-wrapper">
                <img th:src="@{/{filename}(filename=${recipe.image})}" th:alt="${recipe.title}">
                <h3 th:text="${recipe.title}">Recipe Name</h3>
                <svg class="Fave-icon" height="43" viewBox="0 0 43 43" width="43" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="images/icons/icons.svg#fave-icon"></use>
                </svg>
            </div>



            <!-- Star Ratings -->
            <div class="star-ratings">
                <div th:each="filled : ${starData[recipe.id]}">
                    <svg th:if="${filled}" fill="none" height="24" viewBox="0 0 27 24" width="27" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="../static/images/icons/icons.svg#star-filled-icon" th:href="@{/images/icons/icons.svg#star-filled-icon}"></use>
                    </svg>
                    <svg th:unless="${filled}" height="24" viewBox="0 0 27 24" width="27" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="../static/images/icons/icons.svg#star-empty-icon" th:href="@{/images/icons/icons.svg#star-empty-icon}"></use>
                    </svg>
                </div>
            </div>
        </article>
    </div>
</section>
</main>
</body>
<footer class="container-fluid bg-dark text-white py-3 mt-5">
    <div class="container text-center">
        <p>&copy; 2023 ThunderTaste. All rights reserved.</p>
    </div>
</footer>

</html>
