<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Inter&amp;display=swap" rel="stylesheet">
    <link href="../static/css/recipe-view.css" rel="stylesheet" th:href="@{/css/recipe-view.css}">
    <link href="../static/css/normalize.css" rel="stylesheet" th:href="@{/css/normalize.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="../static/js/recipe-view.js" th:src="@{/js/recipe-view.js}" defer></script>

    <title>ThunderTaste Recipes</title>
</head>

<body>
<header>
    <div class="site-branding">
        <div class="branding-container">
            <a  href="index.html" th:href="@{/index}" class="site-title">
                <h1>ThunderTaste</h1>
                <svg class="bolt-icon" height="50" viewBox="0 0 36 50" width="36"
                     xmlns="http://www.w3.org/2000/svg">
                    <use href="../static/images/icons/icons.svg#bolt-icon"
                         th:href="@{/images/icons/icons.svg#bolt-icon}"></use>
                </svg>
            </div></a>
            <h2 th:text="${recipe.getTitle()}">Stormy Sirloin Recipe</h2>
        </div>


    </div>

    <div class="header-actions">
        <a href="#">
            <svg class="search-icon" viewbox="0 0 45 39" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="../static/images/icons/icons.svg#search-icon" th:href="@{/images/icons/icons.svg#search-icon}"></use>
            </svg>
        </a>
        <div class="separator"></div>
        <div th:if="${#authentication.principal == 'anonymousUser'}"> <!-- User is NOT authenticated -->
            <a href="login.html" th:href="@{/login.html}">
                <svg class="user-icon" viewBox="0 0 37 31" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="../static/images/icons/icons.svg#user-icon"
                         th:xlink:href="@{/images/icons/icons.svg#user-icon}"></use>
                </svg>
                Log In
            </a>
        </div>
        <div th:if="${#authentication.principal != 'anonymousUser'}"> <!-- User IS authenticated -->
            <a href="my-account.html" th:href="@{/my-account}">
                <svg class="user-icon" viewBox="0 0 37 31" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="../static/images/icons/icons.svg#user-icon"
                         th:xlink:href="@{/images/icons/icons.svg#user-icon}"></use>
                </svg>
                My Account
            </a>
        </div>
    </div>

    <nav>
        <ul>
            <li><a href="recipe-search.html" th:href="@{/recipe-search}">Browse Recipes</a></li>
            <li><a href="my-recipes.html" th:href="@{/my-recipes}">My Recipes</a></li>
            <li><a href="submit-recipe.html" th:href="@{/submit-recipe}">Submit a Recipe</a></li>
        </ul>
    </nav>


</header>

<main class="container mt-5 position-relative">
    <h2 class="text-left"th:text="${recipe.getTitle()}">Stormy Sirloin Recipe</h2>
    <div class="star-ratings">
        <th:block th:each="star : ${#numbers.sequence(1, 5)}">
            <!--th:classappend="${star <= recipe.rating} ? 'rated' : 'unrated'" -->
            <svg height="24" viewBox="0 0 27 24" width="27"
                 xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="../static/images/icons/icons.svg#star-empty-icon" th:href="@{/images/icons/icons.svg#star-empty}"></use>
                <!-- Insert additional SVG code here if needed -->
                <!--th:xlink:href="@{images/icons/icons.svg#star-(star <= recipe .rating) ? 'full' : 'empty'}-icon"-->
            </svg>
        </th:block>
    </div>
    <svg class="Fave-icon" height="43" viewbox="0 0 43 43" width="43" xmlns="http://www.w3.org/2000/svg">
        <use xlink:href="../static/images/icons/icons.svg#fave-icon"></use>
    </svg>

    <p class="lead text-left mt-3 mb-4" th:text="${recipeDescription}">Default description here</p>
    <div class="image-crop-container">
        <img alt="Default Alt Text" th:alt="${recipe.getTitle()}" src="images/v3_31.png" th:src="@{images/${recipe.image}}" id="croppedImage">

        <!-- Modal -->
        <div class="modal" id="imageModal">
            <div class="modal-inner">
                <button type="button" class="close btn btn-secondary btn-lg rounded-circle" onclick="closeModal()" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <img class="modal-content" id="modalImage" alt="" src="">
            </div>
        </div>
    </div>
    <!-- Recipe Information Section -->
    <section class="recipe-info">
        <h3>Recipe Details</h3>
        <div class="recipe-stats">
            <div class="recipe-stat">
                <span class="stat-label">Prep Time:</span>
                <span class="stat-value" th:text="${recipe.prepTime}" >10 mins</span>
            </div>
            <div class="recipe-stat">
                <span class="stat-label">Cook Time:</span>
                <span class="stat-value" th:text="${recipe.cookTime}">8 mins</span>
            </div>
            <div class="recipe-stat">
                <span class="stat-label">Total Time:</span>
                <span class="stat-value" th:text="${recipe.totalTimeInMinutes} + ' mins'">18 mins</span>
            </div>
            <div class="recipe-stat">
                <span class="stat-label">Servings:</span>
                <span class="stat-value" th:text="${recipe.servingSize}">4</span>
            </div>
        </div>
    </section>

    <!-- Recipe Details -->
    <section class="mt-2 mb-3">
        <h3>Ingredients</h3>
        <ul th:if="${recipe.ingredients != null}">
            <li th:each="ingredient : ${recipe.ingredients}">
                <span th:text="${ingredient}">Ingredient</span>
            </li>
        </ul>
        <h3>Directions</h3>
        <ol th:if="${recipe.steps != null}">
            <li th:each="step : ${recipe.steps}">
                <span th:text="${step}">Step</span>
            </li>
        </ol>
        <hr>
    </section>
    <p> Share your thoughts with other ThunderChefs</p>
    <button type="submit" class="btn btn-primary mb-2 mr-2" onclick="navigateToReviewPage();">Write a ThunderChef Review</button>
    <!-- Reviews -->
    <section>
        <h3>Reviews</h3>
        <div class="card mb-4">
            <div class="card-body">
                <p>I didn't have a working grill available to me so I cooked this for two in my air fryer using two petite sirloin steaks...</p>
                <p><strong>CookingWithThor2424</strong> - 07/21/2023</p>
                <!-- You can add a star rating system here -->
                <div class="star-ratings">
                    <svg fill="none" height="24" viewbox="0 0 27 24" width="27" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="../static/images/icons/icons.svg#star-filled-icon"
                             th:href="@{/images/icons/icons.svg#star-filled-icon}"></use>
                    </svg>
                    <svg fill="none" height="24" viewbox="0 0 27 24" width="27" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="../static/images/icons/icons.svg#star-filled-icon"
                             th:href="@{/images/icons/icons.svg#star-filled-icon}"></use>
                    </svg>
                    <svg fill="none" height="24" viewbox="0 0 27 24" width="27" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="../static/images/icons/icons.svg#star-filled-icon"
                             th:href="@{/images/icons/icons.svg#star-filled-icon}"></use>
                    </svg>
                    <svg fill="none" height="24" viewbox="0 0 27 24" width="27" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="../static/images/icons/icons.svg#star-filled-icon"
                             th:href="@{/images/icons/icons.svg#star-filled-icon}"></use>
                    </svg>
                    <svg height="24" viewbox="0 0 27 24" width="27" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="../static/images/icons/icons.svg#star-filled-icon"
                             th:href="@{/images/icons/icons.svg#star-empty-icon}"></use>
                    </svg>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p>This was very good. We don't have a grill yet so I seared these on the stove-top with the lid...</p>
                <p><strong>ZeusBoyardee556</strong> - 05/21/2023</p>
                <!-- You can add a star rating system here -->
                <div class="star-ratings">
                    <svg fill="none" height="24" viewbox="0 0 27 24" width="27" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="../static/images/icons/icons.svg#star-filled-icon"
                             th:href="@{/images/icons/icons.svg#star-filled-icon}"></use>
                    </svg>
                    <svg fill="none" height="24" viewbox="0 0 27 24" width="27" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="../static/images/icons/icons.svg#star-filled-icon"
                             th:href="@{/images/icons/icons.svg#star-filled-icon}"></use>
                    </svg>
                    <svg fill="none" height="24" viewbox="0 0 27 24" width="27" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="../static/images/icons/icons.svg#star-filled-icon"
                             th:href="@{/images/icons/icons.svg#star-filled-icon}"></use>
                    </svg>
                    <svg fill="none" height="24" viewbox="0 0 27 24" width="27" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="../static/images/icons/icons.svg#star-filled-icon"
                             th:href="@{/images/icons/icons.svg#star-filled-icon}"></use>
                    </svg>
                    <svg height="24" viewbox="0 0 27 24" width="27" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="../static/images/icons/icons.svg#star-filled-icon"
                             th:href="@{/images/icons/icons.svg#star-empty-icon}"></use>
                    </svg>
                </div>
            </div>
        </div>
    </section>
</main>



</body>
<footer class="container-fluid bg-dark text-white py-3 mt-5">
    <div class="container text-center">
        <p>© 2023 ThunderTaste. All rights reserved.</p>
    </div>
</footer>

</html>
